.movie {
    display: block;
    float: left;
    width: 185px;
    height: 300px;
    margin: 15px;
}

p {
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;  
    width:185px;
    display:inline-block;
    margin: 0px;
    padding-top: 10px;
    text-align: center;
}

img {
    height: 270px;
    width: 100%;
}


